@import "variables";
@import "mixins";
@import "components/editable";
@import "components/add-item";
@import "elements/buttons";
@import "components/page";
@import "components/section";

body {
  background: #f7f7f5;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #636363;

  #app {
    margin-top: 20px;
  }
}
